.navbar .container {
    font-size: 20px;
}
.navbar .container a {
    color: black;
}
.navbar .container a:hover{
    color: #dadada;
    transition: all ease-in-out 0.3s;
}
/* *  Formulario */
.login .card .card-header{
    background-color: #dadada;
    border: solid 1px #dadada;
    text-align: center;
    font-size: 25px;
}
.login .card .card-body{
    padding: 30px;
    font-size: 19px;
}
.login .card .card-body button{
    font-size: 19px;
    padding: 5px 15px 5px 15px;
}
.login .card .card-body button:hover{
    color: black;
    background-color: #ffff;
    border: black solid 1px;
    transition: all ease-in-out 0.5s;
}